{% extends 'main/base.html' %}

{% block title %} Все ваши ссылки {% endblock %}

{% block content %}
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">Сокращенная</th>
            <th scope="col">Полная</th>
        </tr>
        </thead>

        <tbody>
        {% for url in urls %}
            <tr>
                <td class="table-dark">
                    <a href="{{ request.scheme }}://{{ request.get_host }}/{{ url.shorted_url }}">{{ url.shorted_url }}</a>
                </td>
                <td class="table-dark">
                    <a href="{{ url.full_url }}">{{ url.full_url }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
{% endblock %}
