{% extends 'main/base.html' %}

{% block title %} Все ваши ссылки {% endblock %}

{% block content %}
    {% if not urls %}
        <h4 class="no-urls">У вас нет сокращенных ссылок!</h4>
    {% else %}
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">Сокращенная</th>
                <th scope="col">Полная</th>
            </tr>
            </thead>

            <tbody>
                {% for url in urls %}
                    <tr>
                        <td class="table-dark">
                            <a href="{{ url.get_absolute_url }}">{{ url.get_absolute_url }}</a>
                        </td>
                        <td class="table-dark">
                            <a href="{{ url.full_url }}">{{ url.full_url }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
